name: Markdown Build

on:
  push:
    branches:
      - main
    paths:
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  actions: write
  contents: write

jobs:
  convert_via_pandoc:
    runs-on: ubuntu-latest

    steps:
    - name: ⬇️ Checkout Repo
      uses: actions/checkout@v4

    - name Convert Docs
      uses: docker://pandoc/core:2.9
      with:
        args:  >-  # allows you to break string into multiple lines
        --standalone
        --o resume.html 
        *.md 

    - name: Commit files
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        # Optional. Commit message for the created commit.
        # Defaults to "Apply automatic changes"
        commit_message: Apply publisher changes
      